        #contenedor {
        }
        header {
          background-color: gray;
          height: 100px;
          }

        nav {
          background-color: blue;
          float: left;
          width: 15%;
          height: 300px;
        }
        main {
          width: 85%;
          float:left;
        }
        content{
          background-color: aqua;
          float: left;
          width: 80%;
          height: 300px;
          }
        aside{
          background-color: green;
          float: left;
          width: 20%;
          height: 300px;
          }

        footer {
          background-color: red;
          height: 100px;
          clear: both;
        }
